<!DOCTYPE html>
<html>
<head>
      <style>
    div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
        content: attr(data-placeholder);
        float: left;
        margin-left: 2px;
        color: #b3b3b3;
    }
  </style>
  <script>
      function validateSubmitForm() {
        var x = document.forms["addPost"]["title"].value;
        if (x==null || x=="") {
            alert("Blog title can not be empty.");
            return false;
        }else{
        document.forms[0].submit();
        return true;
      }
    }
    </script>
    <script>
     (function ($) {
    $(document).on('change keydown keypress input', 'div[data-placeholder]', function() {
      if (this.textContent) {
        this.dataset.divPlaceholderContent = 'true';
      }else {
        delete(this.dataset.divPlaceholderContent);
      }
    });
    })(jQuery);
  </script>
/* -------------------------------------
EDITOR CONTROLLER
------------------------------------- */

  <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
  <script type="text/javascript">
    tinymce.init({
        menubar : false,
        resize: false,
        statusbar : false,
        browser_spellcheck : true,
        selector: "div.editable",
        inline: true,
        plugins: ["link image code","textcolor", "emoticons"],
        relative_urls: false,
        remove_script_host: false,
        toolbar: "forecolor backcolor emoticons | fontselect,fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    });
  </script>
</head>

<body>

  <div class="body"></div>
    <div class="grad"></div>
    <div id='parent_header_div'>
      <div class="header header_child">
        <a href="/posts" style="text-decoration:none">
          <div>u<span>Blog</span></div>
        </a>
      </div>
      <div class="menu_button">
        <input type="button" value="Logout" onClick="document.location.href='/signin';">
      </div>
      <div class="menu_button">
        <input type="button" value="Blog It!" onclick="validateSubmitForm()">
      </div>
    </div>
    <div id='parent_body_div'>
      <div class="grad2_full">
        <div class="subForm">
          <!-- <form id="addPost" action="/posts" onsubmit="return validateForm();" method="POST"> -->
            <form name="addPost" id="addPost" action="/posts"  method="POST">
              <input type="text" placeholder="Type Blog Title Here" name="title" ><br><br>
               <div class="editable" name="content" contentEditable=true data-placeholder="Type Blog Content Here"></div>
            </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
