<!DOCTYPE html>
<html>

<head>
  <script>
    function validateForm(message) {
      var x = document.forms["signIn"]["username"].value;
      var y = document.forms["signIn"]["password"].value;

      if (x =="" || y ==""){
        document.getElementById(message).style.display= "inline";
            document.getElementById(message).innerHTML = "All fields are required.";
            return false;
      }
      return true;
    }
  </script>

</head>

<body>

  <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div>u<span>Blog</span></div>
    </div>
    <br>
    <div class="form">
        <form name="signIn" action="/signin" onsubmit="return validateForm('error');" method="POST">
          <input type="text" placeholder="Username" name="username"><br>
          <input type="password" placeholder="Password" name="password"><br></br>
          <label id="error" class="errorMsg"></label><br />
          <input type="submit" value="Log In" >
        </form>
    </div>
    <div class="footer">
      <input type="button" value="Sign Up" onClick="document.location.href='/signup';">
    </div>


  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

</body>

</html>
