<!DOCTYPE html>
<html>

<head>
  <script>
    function validateForm(message) {
      var x = document.forms["signUp"]["email"].value;
      var y = document.forms["signUp"]["username"].value;
      var z = document.forms["signUp"]["password"].value;
      var patt_email = /\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;

      if (x=="" || y=="" || z==""){
        document.getElementById(message).style.display= "inline";
            document.getElementById(message).innerHTML = "All fields are required.";
            return false;
      }else{
        if (patt_email.test(x)) {
            document.getElementById(message).style.display = "none";
          return true;

        } else {
          document.getElementById(message).style.display= "inline";
              document.getElementById(message).innerHTML = "Email is not in correct format.";
              return false;
        }

      }
    }
  </script>
</head>

<body>

  <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div>u<span>Blog</span></div>
    </div>
    <br>
    <div class="form">
        <form name="signUp" action="/signup" onsubmit="return validateForm('error');" method="post">
          <input type="text" placeholder="Email" name="email" ><br></br>
          <input type="text" placeholder="Username" name="username"><br>
          <input type="password" placeholder="Password" name="password"><br></br>
          <label id="error" class="errorMsg"></label><br />
          <input type="submit" value="Sign Up" >
        </form>
    </div>
    <div class="footer">
      <input type="button" value="Login" onClick="document.location.href='/signin';">
    </div>

</body>

</html>


